<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIT REX iCalendar</title>
</head>

<body>
	<main>
		<h1>MIT REX iCalendar</h1>

		<p>Based on:</p>
		<ul>
			<li>
				<a href="https://rex.mit.edu/">T-REX, the DormCon REX API</a>
			</li>
			<li>
				<a href="https://dormcon.mit.edu/rex/events/">REX Events on MIT DormCon</a>
			</li>
		</ul>

		<p><a href="/calendar.ics">Cop it!</a></p>
		<p>
			<a href="https://support.google.com/calendar/answer/37118?hl=en&co=GENIE.Platform=Desktop">
				How do I import this into Google Calendar?
			</a>
		</p>
	</main>
</body>

</html>